<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>89993406603-u41qgdsi6ql18ntm12t8fgsqhmsie3jh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.89993406603-u41qgdsi6ql18ntm12t8fgsqhmsie3jh</string>
	<key>API_KEY</key>
	<string>AIzaSyC3sRoHLN0BDlZwlzApe9zRe__KHG0Ul40</string>
	<key>GCM_SENDER_ID</key>
	<string>89993406603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>WasselApp</string>
	<key>PROJECT_ID</key>
	<string>alsalilcompany</string>
	<key>STORAGE_BUCKET</key>
	<string>alsalilcompany.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:89993406603:ios:33ba57611e722d69</string>
	<key>DATABASE_URL</key>
	<string>https://alsalilcompany.firebaseio.com</string>
</dict>
</plist>